[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
log_output=FILE
general-log=1
general-log-file=/var/log/mysql/mysqld.log
log-error=/var/log/mysql/error.log

[client]
default_character_set=utf8mb4